<div class="container">
    <h2>SERVICES</h2>
        <div class="space row justify-content-center">
            <div class="col-md-6">
                <img src="../../../assets/images/bag.png">
            </div>
            <div class="col-md-6">
                <a href="#" class="btn btn-primary btn-block" id="prodbtn">UPCYCLING</a>
            </div>
        </div>
        <div class=" row">
            <div class="col-md-6">
                <a href="#" class="btn btn-primary btn-block" id="prodbtn">UPCYCLING</a>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/upcy.png">
            </div>
        </div>
        <div class=" row">
            <div class="col-md-6">
                <img src="../../../assets/images/brick.png">
            </div>
            <div class="col-md-6">
                <a href="#" class="btn btn-primary btn-block" id="prodbtn">UPCYCLING</a>
            </div>
        </div>
</div> 

<button type="button" class="btn btn-success"  data-toggle="modal" data-target="#create">Add</button>


<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="createBoxTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="createBoxLongTitle">Create Allergen</h5>
          <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
            
              <div class="form-row">
                <div class="form-group col">
                  <label for="allergenName">Name</label>
                  <textarea type="text" class="form-control" formControlName="name" id="name" required></textarea>
                </div>
              </div>                              
              <div class="modal-footer" >
                <button type="submit" class="btn btn-success" id="three" >Submit</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
              </div>
           
          </div>
      </div>
    </div> 
  </div>