<div class="container">
    <div class="space row justify-content-center">
        <div class="col-lg-6 left">
            <img class="prodimg" src="../../../assets/images/garlic.png">
        </div>
        <div class="col-lg-6">
            <h2 class="title">Garlic Head</h2>
            <h3><strong>R 34.99/kg</strong> </h3>
            <p>
                Lorem ipsum dolor sit amet, consecte1tur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consecte1tur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consecte1tur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            
            <div class="row">
                <div class="col-4">
                    <button class="btn btn-primary btn-block" id="prodbtn">Add</button>
                </div>
                <div class="col-5">
                    <button class="btn btn-primary btn-block" id="prodbtn">Add to Cart</button>
                </div>
            </div>
            <h6>Categories</h6>
            <p>Vegetables</p>
        </div>       
    </div>

    <h4>Related Products</h4>
        <div class="row justify-content-center" id="products">
            <div class="col-lg-3 col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/carrot.png" alt="Card image cap">               
                    <p class="item">Carrots</p>
                    <p class="price">R 34.99</p>
                    <a href="/client-item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</a>
                </div>
            </div>
            <div class="col-lg-3 col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/broccoli.png" alt="Card image cap">
                    <p class="item">Broccoli</p>
                    <p class="price">R 79.99</p>
                    <a href="/client-item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</a>
                </div>
            </div>
            <div class="col-lg-3 col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/pepper.png" alt="Card image cap">
                    <p class="item">Red Pepper</p>
                    <p class="price">R 74.99</p>
                    <a href="/client-item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</a>
                </div>
            </div>
            <div class="col-lg-3 col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/garlic.png" alt="Card image cap">
                    <p class="item">Garlic Head</p>
                    <p class="price">R 74.99</p>
                    <a href="/client-item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</a>
                </div>
            </div>            
        </div>

</div>