<div class="container">
    <h2>PRODUCTS</h2>
        <div class="space row">
            <div class="col-md-3">
                <div class="form-group">
                    <input name="" class="form-control" type="search" placeholder="Search">
                </div>               
                <h5>Categories</h5> 
                <p>Vegetables</p>
                <p>Legumes</p>
                <p>Nuts</p>
                <p>Plants & Herbs</p>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-8 col-sm-10">
                        <p> Showing  1-12  of  12  Results</p>
                    </div>
                    <div class="col-lg-4 col-sm-10">
                        <div class="form-group">
                            <select name="" class="form-control"></select>
                        </div>
                    </div>                    
                </div>                
                <div class="row" id="products">
                    <div class="col-lg-4 col">
                        <div class="card">
                            <img class="card-img-top" src="../../../assets/images/garlic.png" alt="Card image cap">               
                              <p class="item">Garlic Head</p>
                              <p class="price">R 34.99/kg</p>
                              <a href="/client-item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</a>
                          </div>
                    </div>
                    <div class="col-lg-4 col">
                        <div class="card">
                            <img class="card-img-top" src="../../../assets/images/carrot.png" alt="Card image cap">
                            <p class="item">Carrots</p>
                            <p class="price">R 79.99/kg</p>
                            <a href="/client-item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col">
                        <div class="card">
                            <img class="card-img-top" src="../../../assets/images/broccoli.png" alt="Card image cap">
                            <p class="item">Broccoli</p>
                            <p class="price">R 74.99/kg</p>
                            <a href="/client-item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</a>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-4 col">
                        <div class="card">
                            <img class="card-img-top" src="../../../assets/images/pepper.png" alt="Card image cap">               
                              <p class="item">Red Pepper</p>
                              <p class="price">R 34.99/kg</p>
                              <a href="/client-item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</a>
                          </div>
                    </div>
                </div>
            </div>             
        </div>
</div>
  

