<div class="stone">
  <div class="container">
      <h1 id="about"> ABOUT <strong> US </strong></h1>
          <div class="row justify-content-center">
              <div class="col-4">
                  <img src="../../../assets/images/logo.png" id="logo">
              </div>
              <div class="col-4">
                  <p>
                      Everything that we do, we believe 
                      in the preservation of our planet, 
                      the human race & your body. 
                      <br><br>
                      By providing products to the community 
                      that is environmentally sustainable, uses 
                      only natural ingredients and materials, and 
                      is ONLY beneficial to the human body.
                      <br><br>
                      Currently we are focusing on providing the 
                      public TOP quality venison products that is 
                      not only super healthy but incredibly 
                      delicious.                                  
                  </p>
              </div>
          </div>         
  </div>  
</div>


<div class="teams">
    <h1 id="our"> OUR  <strong> TEAM </strong></h1>
      <div class="container">
        <div class="row justify-content-around">
          <div class="col-3">
            <div class="card">
              <img class="card-img" src="../../../assets/images/Jan.png">                             
                <h5 class="card-title">Jannes Janse van Rensburg</h5>
                <h6 class="card-subtitle mb-2 text-muted">Founder, Managing Director and Co-Owner</h6>
                <p class="card-text">Jannes is a game farmer and hunter for the last 20 years. 
                    Passion foe venison and the health benefits thereoff.
                    Background in supply chain management and logistics.
                </p>                             
            </div>
          </div> 
          <div class="col-3">
            <div class="card">
              <img class="card-img" src="../../../assets/images/Emi.png">               
                <h5 class="card-title">Emile Stoman</h5>
                <h6 class="card-subtitle mb-2 text-muted">Product Manger and Co-Owner</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consecte1tur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>               
            </div>
          </div> 
          <div class="col-3">
            <div class="card">
              <img class="card-img" src="../../../assets/images/Han.png">              
                <h5 class="card-title">Hannes De Beer </h5>
                <h6 class="card-subtitle mb-2 text-muted">Marketing Manger and Co-Owner</h6>
                <p class="card-text">Hannes is an advertising art director currently working in Dubai 
                    on International Blue Chip accounts. During his career he has received over 30 awards 
                    including Cannes Advertising Festival, but his love for nature has sparked his entrepreneural 
                    side to find solutions for a global crisis
                </p>                
            </div>
          </div>
        </div>
      </div>
  </div>