<footer>
    <div class="container">
         <div class="row justify-content-around">                     
            <div class="col-sm-2 col-m-2 col-lg-2">
                <p><strong> ACCOUNTS  </strong></p>
                    <p><a href=""> Sign In</a></p>
                    <p><a href=""> Register</a></p>
                    <p><a href=""> Orders</a></p> 
           </div>
           <div class="col-sm-2 col-m-2 col-lg-2">
                <p><strong> QUICK LINKS   </strong></p>
                    <p><a href=""> Products </a></p>
                    <p><a href=""> Blog </a></p>
                    <p><a href=""> About Us </a></p>
                    <p><a href=""> Contact us </a></p>
           </div>
           <div class="col-sm-2 col-m-2 col-lg-2">
                <p><strong> CUSTOMER SERVICE  </strong></p>
                    <p><a href=""> FAQ</a></p>
                    <p><a href=""> About Us</a></p>
                    <p><a href=""> Contact Us</a></p>
                    <p><a href=""> Delivery Information</a></p>
                    <p><a href=""> Returns</a></p>
                    <p><a href=""> Terms and Conditions</a></p>
           </div>
           <div class="col-sm-4 col-m-4 col-lg-4">
                <p><strong> SUBSCRIBE  </strong></p>
                    <form class="form-inline">
                        <input class="form-control" type="email" placeholder="email" aria-label="email" id="email">
                        <button class="btn btn-outline-success" type="submit" id="submit">SIGN UP</button>
                    </form>
                    <br>
                <p><strong> Follow Us  </strong></p>                   
                    <p><a href=""><i class="bi bi-facebook"></i>&nbsp; Facebook</a></p>
                    <p><a href=""><i class="bi bi-instagram"></i>&nbsp; Instagram</a></p>
                    <br>
                <p><strong> Contact Us  </strong></p> 
                    <p><i class="bi bi-envelope"></i>&nbsp; ecohub@gmail.com</p>
                    <p><i class="bi bi-telephone"></i>&nbsp; Customer Care: 072 596 3150</p>
            </div>
          </div>
    </div>
    <div class="strip">
        <div class="container">
            <div class="row justify-content-center">
                <img src="../../../assets/images/copy.png"> &nbsp;&nbsp;  
                <p id="right"><strong>2022 All rights reserved. </strong> </p>             
            </div>            
        </div>
    </div>
</footer>
